@import "tailwindcss";

:root {
  --primary: #1B2231;
  --secondary: #424E61;
  --tertiary: ##6B7280;
  --color-4: #0D54EB;
  --light: #A1A1A1;
  --background-3: #EEF0F2;
  --background-black-1: #101010;
  --main-border: #E3E5E8;
}

@theme inline {
  --color-primary: #1B2231;
  --color-secondary: #424E61;
  --color-tertiary: #6B7280;
  --color-color-4: #0D54EB;
  --color-light: #A1A1A1;
  --color-background-3: #EEF0F2;
  --color-background-black-1: #101010;
  --color-main-border: #E3E5E8;
  --color-background-1: #F9FAFB;
}

body {
  color: var(--font-plus-jakarta-sans);
}

.font-primary {
  font-family: var(--font-sofia-sans);
}